footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  padding: 20px;

  font-size: 0.8rem;
}

.footer__project-link {
  padding: 3px 7px;

  transition: background 200ms;

  text-decoration: none;

  color: white;
  border-radius: 20px;
  background-color: #161616;

  font-weight: 500;
}

.footer__project-link:hover {
  background-color: #d50058;
}

.footer__text {
  margin-right: 5px;
}
