header::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;

  content: "";

  background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px 20px 20px 20px;
}

.header__logo {
  width: 4rem;
  margin-right: 20px;

  border-radius: 20%;
  background: linear-gradient(135deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}

.header__text-container {
  margin-top: -0.5rem;
}

.header__title {
  margin-bottom: 8px;

  font-size: 2rem;
}

.header__description {
  color: #737373;

  font-size: 1rem;
}
