header::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;

  content: '';

  background: linear-gradient(90deg, #ff006a, #33006a 90%);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px 20px 20px 20px;
}

.header__logo {
  margin-right: 20px;

  user-select: none;
  pointer-events: none;
}

.header__text-container {
  margin-top: -0.5rem;
}

.header__title {
  margin-bottom: 8px;

  font-size: 2rem;
}

.header__description {
  color: #959595;

  font-size: 1rem;
}
